body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0; 
    width: 100%;
    min-height: 10%;
}

.topDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  ul {
    display: table;
    margin: 0 auto;
    text-align: center;
  }

  li {
    display: inline-block;
    margin-right: 4em;
  }

  a {
    color: white;
    text-decoration: none;
    transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
  }

  a:hover {
    color: slategrey;
    border-color: slategray;
  }

  main{
    padding-top: 5%;
    background-color: darkslategrey;
    min-height: 75vh;
  }

div#divtitle{
  display: flex;
  justify-content: center;
  background-image: url("./img/title-background.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 40px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.3%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: teal;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
}
p {
    font-size: 14px;
    color: white;
}
figcaption{
    font-size: 14px;
    color: white;
}
#nextbutton {
    border-radius: 20px;
    padding: 10px;
    border: solid 2px white;
    margin-top: 20px;
}

.column {
    float: left;
    width: 32%;
    padding: 5px;
    display: flex;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
    flex: 32%;
    padding: 5px;
  }
  
  footer {
    display: block;
    width: 100%;  
    height: 100%;
    text-align: center;
    background-color: black;
    color: white;
    bottom:0;
    margin: 0;
    padding: 0;
  }