body{
    background-color: gold;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-image: url("./img/title-background.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
p {
    font-size: 14px;
}
#nextbutton {
    border-radius: 20px;
    padding: 10px;
    border: solid 2px black;
    margin-top: 20px;
}